@media all {

body {
    background-image: url("https://images.unsplash.com/photo-1594907841570-3e093a4bdace?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
}

h1 {
    color: rgb(199, 219, 42);
    text-shadow: rgb(10, 10, 10) 2px 2px 8px;
    margin-top: 0px;
}

.label {
    color: rgb(199, 219, 42);
    text-shadow: black 2px 2px;
}

#companyLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

h3 {
    margin-bottom: 5px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 1px;
    color:rgb(199, 219, 42);
    text-shadow: black 2px 2px;
}

.input-field {
    padding-left: 50px;
    
}

form {
    position: absolute;
    border: 5px;
    border-color: rgb(199, 219, 42);
    padding: 2px;
    background-color: rgba(65, 64, 64, 0.74);
    border-style: groove;
    width : 400px;
    height: 400px;
    margin: 2px;

}

.conversionButtons {
    padding-top: 5px;
}

.conversionButtons2 {
    padding-top: 5px;
}

.radioLabel {
    color: rgb(199, 219, 42);
    text-shadow: black 2px 2px;
}

}


@media print {
    
    
    h1 {
        color: rgb(8, 8, 8);
        text-shadow: black 2px 2px;
    }
    
    .label {
        color: rgb(12, 12, 10);
        text-shadow: black 2px 2px;
    }
    
    h3 {
        margin-bottom: 5px;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 1px;
        color:rgb(12, 12, 10);
        text-shadow: black 2px 2px;
    }
    
    .input-field {
        padding-left: 50px;
        
    }
    
    form {
        position: absolute;
        border: 5px;
        border-color: rgb(10, 10, 9);
        padding: 2px;
        background-color: rgba(65, 64, 64, 0.74);
        border-style: groove;
        width : 400px;
        height: 400px;
        margin: 2px;
    
    }
    
    .conversionButtons {
        padding-top: 5px;
    }
    
    .conversionButtons2 {
        padding-top: 5px;
    }
    
    .radioLabel {
        color: rgb(13, 14, 10);
        text-shadow: black 2px 2px;
    }
    
    }
}